
body, html {
width: 100%;
height: 100%;
margin: 0;
display: flex;
justify-content: center;  /* Center horizontally */
align-items: center;      /* Center vertically */
}

.usertable {
    border-collapse: collapse;
    font-size: 40px;
    margin: 0 auto; /* Center the table itself */
    text-align: center; /* Center the content in the table */
    width: 80%; /* Optional: define the table width */       
  }
th, td {
    padding: 8px;
    text-align: center;
    border: 1px solid black;
  }
th {
    background-color: #f2f2f2;
  }

    .bigbutt {
    padding: 10px 20px;  /* Adjusts the space inside the button */
    font-size: 24px;      /* Increases the size of the text inside */
    width: 10%px;   /* Set button width */
    height:10%;   /* Set button height */
      /* margin: 20px; */ /* Adds 20px space outside the button on all sides */
      margin: 10px 10px 10px 10px; /* Top, Right, Bottom, Left */
      background-color: #400de7;
      color: white;
      border: black;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none;
      text-align: center;
      line-height: 50px;   
      }

    .connectbutt {
      position: absolute;
      // top: 120px;  /* Adjust the top position */
      left: 120px;  /* Adjust the left position */
      bottom: 20px; /* Distance from the bottom */
      display: inline-block;
    /* padding: 10px 20px; */  /* Adjusts the space inside the button */
    font-size: 12px;      /* Increases the size of the text inside */
    width: 100px;   /* Set button width */
    height:50px;   /* Set button height */
      /* margin: 20px; */ /* Adds 20px space outside the button on all sides */
      margin: 0px 0px 0px 0px; /* Top, Right, Bottom, Left */
      background-color: #5f6169;
      color: white;
      border: black;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none;
      text-align: center;
      line-height: 50px;   
      }
    
      .devbutt {
        // position: absolute;
        // top: 120px;  /* Adjust the top position */
        // left: 120px;  /* Adjust the left position */
        // bottom: 20px; /* Distance from the bottom */
        display: inline-block;
      /* padding: 10px 20px; */  /* Adjusts the space inside the button */
      font-size: 12px;      /* Increases the size of the text inside */
      width: 100px;   /* Set button width */
      height:50px;   /* Set button height */
        /* margin: 20px; */ /* Adds 20px space outside the button on all sides */
        margin: 0px 0px 0px 0px; /* Top, Right, Bottom, Left */
        background-color: #5f6169;
        color: white;
        border: black;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        line-height: 50px;   
        }

.outputpre {
position: absolute;
top: 50px;  /* Adjust the top position */
left: 1000px;  /* Adjust the left position */
background-color: #f4f4f4;
border: 1px solid #ddd;
padding: 10px;
}
